In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [18]:
df = pd.read_csv("BikeBuyerWithLocation.csv")
df.head()

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,BikeBuyer,Latitude,Longitude,City,Zip Code,Country
0,29476,Married,Female,20000,0,Partial College,Manual,No,1,0-1 Miles,Europe,47,Yes,31.42728,151.40989,Skegness,U8H 3NI,United Kingdom
1,29472,Married,Female,10000,1,High School,Manual,No,1,1-2 Miles,Europe,46,No,-49.77700,-57.09436,Krefeld,38010,Germany
2,29471,Single,Female,10000,1,High School,Manual,No,1,2-5 Miles,Europe,46,No,44.76375,-52.48566,Wandsworth,E9C 8WC,United Kingdom
3,29470,Single,Male,10000,1,High School,Manual,No,1,1-2 Miles,Europe,46,No,-35.47176,108.25552,Marcq-en-Baroeul,85584,France
4,29451,Single,Male,10000,0,Partial College,Manual,No,1,2-5 Miles,Europe,64,No,-13.38729,-143.39103,Wrexham,NX2 2JE,United Kingdom

In [19]:
df['Occupation'].value_counts()

Professional      2953
Skilled Manual    2495
Management        1730
Clerical          1423
Manual            1399
Name: Occupation, dtype: int64

In [8]:
pd.get_dummies?

In [20]:
df2 = pd.get_dummies(df, columns=['Occupation'])
df2

,ID,Marital Status,Gender,Yearly Income,Children,Education,Home Owner,Cars,Commute Distance,Region,...,Latitude,Longitude,City,Zip Code,Country,Occupation_Clerical,Occupation_Management,Occupation_Manual,Occupation_Professional,Occupation_Skilled Manual
0,29476,Married,Female,20000,0,Partial College,No,1,0-1 Miles,Europe,...,31.42728,151.40989,Skegness,U8H 3NI,United Kingdom,0,0,1,0,0
1,29472,Married,Female,10000,1,High School,No,1,1-2 Miles,Europe,...,-49.77700,-57.09436,Krefeld,38010,Germany,0,0,1,0,0
2,29471,Single,Female,10000,1,High School,No,1,2-5 Miles,Europe,...,44.76375,-52.48566,Wandsworth,E9C 8WC,United Kingdom,0,0,1,0,0
3,29470,Single,Male,10000,1,High School,No,1,1-2 Miles,Europe,...,-35.47176,108.25552,Marcq-en-Baroeul,85584,France,0,0,1,0,0
4,29451,Single,Male,10000,0,Partial College,No,1,2-5 Miles,Europe,...,-13.38729,-143.39103,Wrexham,NX2 2JE,United Kingdom,0,0,1,0,0
5,29447,Single,Female,10000,0,Bachelors,No,1,2-5 Miles,Europe,...,-72.40890,-169.83648,Kincardine,X50 9XV,United Kingdom,1,0,0,0,0
6,29446,Single,Female,20000,0,Graduate Degree,No,0,0-1 Miles,Europe,...,61.73132,-24.53664,Bremerhaven,52767,Germany,1,0,0,0,0
7,29445,Single,Female,10000,0,Bachelors,Yes,1,0-1 Miles,Europe,...,-55.10667,-179.94035,Oswestry,T61 2QG,United Kingdom,1,0,0,0,0
8,29444,Married,Female,20000,0,Bachelors,Yes,0,0-1 Miles,Europe,...,38.56492,-54.28292,Maubeuge,93074,France,1,0,0,0,0
9,29443,Single,Male,10000,0,Partial College,Yes,0,0-1 Miles,Europe,...,34.04002,-13.24188,Niort,85990,France,0,0,1,0,0
10,29442,Single,Male,10000,0,Bachelors,Yes,0,0-1 Miles,Europe,...,-59.62052,-77.10857,Burntisland,DM7 8SL,United Kingdom,0,0,1,0,0
11,29441,Married,Female,20000,0,Graduate Degree,Yes,0,0-1 Miles,Europe,...,83.23444,-0.22927,Bottrop,75782,Germany,1,0,0,0,0
12,29440,Single,Male,20000,0,Graduate Degree,Yes,0,0-1 Miles,Europe,...,32.46051,175.80060,St. David's,M80 9YC,United Kingdom,1,0,0,0,0
13,29439,Married,Female,20000,0,Graduate Degree,Yes,0,0-1 Miles,Europe,...,87.01058,116.62104,Rothesay,G04 6IZ,United Kingdom,1,0,0,0,0
14,29438,Married,Male,20000,0,Graduate Degree,Yes,0,0-1 Miles,Europe,...,-13.08665,65.61001,Lauder,GF75 6YC,United Kingdom,1,0,0,0,0
15,29437,Single,Female,20000,0,Graduate Degree,No,0,0-1 Miles,Europe,...,-62.99891,-170.17880,Ajaccio,53384,France,1,0,0,0,0
16,29436,Single,Female,10000,0,Bachelors,No,0,0-1 Miles,Europe,...,7.11524,-0.24771,Markkleeberg,75542,Germany,0,0,1,0,0
17,29435,Married,Male,10000,0,Bachelors,Yes,0,0-1 Miles,Europe,...,-64.26743,43.38219,Montpellier,94451,France,0,0,1,0,0
18,29434,Married,Female,10000,0,Bachelors,Yes,0,0-1 Miles,Europe,...,-72.41211,26.91538,Merzig,44036,Germany,0,0,1,0,0
19,29430,Single,Female,30000,0,Partial College,No,1,0-1 Miles,Europe,...,-19.47140,80.10937,Berlin,66257,Germany,1,0,0,0,0
20,29429,Single,Female,30000,0,Partial College,No,1,0-1 Miles,Europe,...,-36.14319,144.98053,Husum,54514,Germany,1,0,0,0,0
21,29428,Married,Male,20000,0,Partial High School,Yes,2,1-2 Miles,Europe,...,-29.63320,72.30464,Saint-Malo,72546,France,0,0,1,0,0
22,29427,Single,Male,20000,0,Partial High School,No,2,0-1 Miles,Europe,...,-0.98943,-118.78928,Cawdor,EB11 5SJ,United Kingdom,0,0,1,0,0
23,29426,Single,Male,20000,0,Partial High School,No,2,0-1 Miles,Europe,...,-22.91305,-152.01615,Kinross,Z7 7WL,United Kingdom,0,0,1,0,0
24,29425,Single,Male,20000,0,Partial High School,No,2,0-1 Miles,Europe,...,76.76836,68.52531,Stendal,28448,Germany,0,0,1,0,0
25,29424,Married,Male,10000,0,Partial High School,Yes,2,0-1 Miles,Europe,...,43.03843,163.77749,Oberursel,81959,Germany,0,0,1,0,0
26,29423,Single,Male,20000,0,High School,No,1,2-5 Miles,Europe,...,-24.70509,96.30617,Wolverhampton,LM83 5OR,United Kingdom,0,0,1,0,0
27,29422,Single,Male,20000,0,High School,Yes,1,2-5 Miles,Europe,...,-89.98557,-162.02105,Holywell,T6Y 7UP,United Kingdom,0,0,1,0,0
28,29421,Single,Male,20000,0,High School,No,1,2-5 Miles,Europe,...,-19.41759,-85.88991,Felixstowe,O93 1AN,United Kingdom,0,0,1,0,0
29,29420,Married,Female,20000,0,High School,No,1,2-5 Miles,Europe,...,-57.90648,-163.13495,ƒpernay,89,France,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,11451,Single,Male,70000,0,Bachelors,No,4,10+ Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0
9971,11371,Married,Female,20000,0,Bachelors,Yes,0,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0
9972,11370,Married,Female,20000,0,Bachelors,Yes,0,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0
9973,11369,Married,Female,20000,0,Bachelors,No,0,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0
9974,11367,Married,Male,20000,0,Bachelors,Yes,0,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0
9975,11366,Married,Female,20000,0,Bachelors,Yes,0,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0
9976,11362,Married,Male,10000,0,High School,No,2,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0
9977,11361,Married,Female,10000,0,High School,Yes,2,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0
9978,11359,Single,Male,10000,0,Partial College,No,1,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0
9979,11150,Single,Male,40000,0,Bachelors,Yes,2,5-10 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0
9980,11149,Married,Male,40000,0,Bachelors,Yes,2,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0
9981,11148,Married,Male,40000,0,Bachelors,Yes,2,5-10 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0
9982,11146,Single,Female,40000,0,Bachelors,Yes,2,5-10 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0
9983,11139,Single,Female,30000,0,Partial College,No,2,5-10 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0
9984,11125,Single,Female,70000,0,Partial College,Yes,1,5-10 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9985,11123,Married,Male,70000,4,Partial College,Yes,3,10+ Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9986,11122,Married,Male,70000,4,Partial College,Yes,3,5-10 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9987,11121,Married,Male,70000,4,Partial College,Yes,3,10+ Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9988,11119,Single,Male,30000,0,Partial College,No,2,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0
9989,11118,Single,Male,80000,0,Partial College,No,1,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9990,11116,Married,Male,70000,4,Partial College,Yes,2,5-10 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9991,11115,Married,Male,70000,4,Partial College,Yes,2,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9992,11114,Single,Female,70000,4,Partial College,Yes,2,5-10 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9993,11113,Married,Male,70000,4,Bachelors,Yes,2,5-10 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0
9994,11104,Married,Male,70000,0,Bachelors,No,1,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0
9995,11103,Single,Female,70000,0,Bachelors,Yes,1,5-10 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0
9996,11102,Single,Female,80000,5,Bachelors,Yes,4,1-2 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0
9997,11098,Single,Female,60000,0,Partial College,No,1,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9998,11094,Single,Male,70000,0,Partial College,No,1,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9999,2,Single,Male,160000,0,Graduate Degree,Yes,2,0-1 Miles,Pacific,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0

In [21]:
df3 = pd.get_dummies(df, columns=['Gender'])
df3

,ID,Marital Status,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,BikeBuyer,Latitude,Longitude,City,Zip Code,Country,Gender_Female,Gender_Male
0,29476,Married,20000,0,Partial College,Manual,No,1,0-1 Miles,Europe,47,Yes,31.42728,151.40989,Skegness,U8H 3NI,United Kingdom,1,0
1,29472,Married,10000,1,High School,Manual,No,1,1-2 Miles,Europe,46,No,-49.77700,-57.09436,Krefeld,38010,Germany,1,0
2,29471,Single,10000,1,High School,Manual,No,1,2-5 Miles,Europe,46,No,44.76375,-52.48566,Wandsworth,E9C 8WC,United Kingdom,1,0
3,29470,Single,10000,1,High School,Manual,No,1,1-2 Miles,Europe,46,No,-35.47176,108.25552,Marcq-en-Baroeul,85584,France,0,1
4,29451,Single,10000,0,Partial College,Manual,No,1,2-5 Miles,Europe,64,No,-13.38729,-143.39103,Wrexham,NX2 2JE,United Kingdom,0,1
5,29447,Single,10000,0,Bachelors,Clerical,No,1,2-5 Miles,Europe,68,No,-72.40890,-169.83648,Kincardine,X50 9XV,United Kingdom,1,0
6,29446,Single,20000,0,Graduate Degree,Clerical,No,0,0-1 Miles,Europe,69,No,61.73132,-24.53664,Bremerhaven,52767,Germany,1,0
7,29445,Single,10000,0,Bachelors,Clerical,Yes,1,0-1 Miles,Europe,69,No,-55.10667,-179.94035,Oswestry,T61 2QG,United Kingdom,1,0
8,29444,Married,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Europe,50,No,38.56492,-54.28292,Maubeuge,93074,France,1,0
9,29443,Single,10000,0,Partial College,Manual,Yes,0,0-1 Miles,Europe,50,No,34.04002,-13.24188,Niort,85990,France,0,1
10,29442,Single,10000,0,Bachelors,Manual,Yes,0,0-1 Miles,Europe,48,No,-59.62052,-77.10857,Burntisland,DM7 8SL,United Kingdom,0,1
11,29441,Married,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,70,No,83.23444,-0.22927,Bottrop,75782,Germany,1,0
12,29440,Single,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,45,No,32.46051,175.80060,St. David's,M80 9YC,United Kingdom,0,1
13,29439,Married,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,45,No,87.01058,116.62104,Rothesay,G04 6IZ,United Kingdom,1,0
14,29438,Married,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,45,No,-13.08665,65.61001,Lauder,GF75 6YC,United Kingdom,0,1
15,29437,Single,20000,0,Graduate Degree,Clerical,No,0,0-1 Miles,Europe,44,No,-62.99891,-170.17880,Ajaccio,53384,France,1,0
16,29436,Single,10000,0,Bachelors,Manual,No,0,0-1 Miles,Europe,45,No,7.11524,-0.24771,Markkleeberg,75542,Germany,1,0
17,29435,Married,10000,0,Bachelors,Manual,Yes,0,0-1 Miles,Europe,44,No,-64.26743,43.38219,Montpellier,94451,France,0,1
18,29434,Married,10000,0,Bachelors,Manual,Yes,0,0-1 Miles,Europe,44,No,-72.41211,26.91538,Merzig,44036,Germany,1,0
19,29430,Single,30000,0,Partial College,Clerical,No,1,0-1 Miles,Europe,31,No,-19.47140,80.10937,Berlin,66257,Germany,1,0
20,29429,Single,30000,0,Partial College,Clerical,No,1,0-1 Miles,Europe,31,No,-36.14319,144.98053,Husum,54514,Germany,1,0
21,29428,Married,20000,0,Partial High School,Manual,Yes,2,1-2 Miles,Europe,32,No,-29.63320,72.30464,Saint-Malo,72546,France,0,1
22,29427,Single,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,No,-0.98943,-118.78928,Cawdor,EB11 5SJ,United Kingdom,0,1
23,29426,Single,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,No,-22.91305,-152.01615,Kinross,Z7 7WL,United Kingdom,0,1
24,29425,Single,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,No,76.76836,68.52531,Stendal,28448,Germany,0,1
25,29424,Married,10000,0,Partial High School,Manual,Yes,2,0-1 Miles,Europe,32,No,43.03843,163.77749,Oberursel,81959,Germany,0,1
26,29423,Single,20000,0,High School,Manual,No,1,2-5 Miles,Europe,30,No,-24.70509,96.30617,Wolverhampton,LM83 5OR,United Kingdom,0,1
27,29422,Single,20000,0,High School,Manual,Yes,1,2-5 Miles,Europe,30,No,-89.98557,-162.02105,Holywell,T6Y 7UP,United Kingdom,0,1
28,29421,Single,20000,0,High School,Manual,No,1,2-5 Miles,Europe,30,No,-19.41759,-85.88991,Felixstowe,O93 1AN,United Kingdom,0,1
29,29420,Married,20000,0,High School,Manual,No,1,2-5 Miles,Europe,30,No,-57.90648,-163.13495,ƒpernay,89,France,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,11451,Single,70000,0,Bachelors,Professional,No,4,10+ Miles,Pacific,32,Yes,NaN,NaN,NaN,NaN,NaN,0,1
9971,11371,Married,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,28,No,NaN,NaN,NaN,NaN,NaN,1,0
9972,11370,Married,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,28,No,NaN,NaN,NaN,NaN,NaN,1,0
9973,11369,Married,20000,0,Bachelors,Clerical,No,0,0-1 Miles,Pacific,28,No,NaN,NaN,NaN,NaN,NaN,1,0
9974,11367,Married,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,27,No,NaN,NaN,NaN,NaN,NaN,0,1
9975,11366,Married,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,27,No,NaN,NaN,NaN,NaN,NaN,1,0
9976,11362,Married,10000,0,High School,Manual,No,2,0-1 Miles,Pacific,29,No,NaN,NaN,NaN,NaN,NaN,0,1
9977,11361,Married,10000,0,High School,Manual,Yes,2,0-1 Miles,Pacific,29,No,NaN,NaN,NaN,NaN,NaN,1,0
9978,11359,Single,10000,0,Partial College,Manual,No,1,0-1 Miles,Pacific,28,Yes,NaN,NaN,NaN,NaN,NaN,0,1
9979,11150,Single,40000,0,Bachelors,Management,Yes,2,5-10 Miles,Pacific,65,No,NaN,NaN,NaN,NaN,NaN,0,1
9980,11149,Married,40000,0,Bachelors,Management,Yes,2,0-1 Miles,Pacific,65,No,NaN,NaN,NaN,NaN,NaN,0,1
9981,11148,Married,40000,0,Bachelors,Management,Yes,2,5-10 Miles,Pacific,65,No,NaN,NaN,NaN,NaN,NaN,0,1
9982,11146,Single,40000,0,Bachelors,Management,Yes,2,5-10 Miles,Pacific,67,No,NaN,NaN,NaN,NaN,NaN,1,0
9983,11139,Single,30000,0,Partial College,Clerical,No,2,5-10 Miles,Pacific,68,No,NaN,NaN,NaN,NaN,NaN,1,0
9984,11125,Single,70000,0,Partial College,Skilled Manual,Yes,1,5-10 Miles,Pacific,50,No,NaN,NaN,NaN,NaN,NaN,1,0
9985,11123,Married,70000,4,Partial College,Skilled Manual,Yes,3,10+ Miles,Pacific,46,No,NaN,NaN,NaN,NaN,NaN,0,1
9986,11122,Married,70000,4,Partial College,Skilled Manual,Yes,3,5-10 Miles,Pacific,46,No,NaN,NaN,NaN,NaN,NaN,0,1
9987,11121,Married,70000,4,Partial College,Skilled Manual,Yes,3,10+ Miles,Pacific,45,No,NaN,NaN,NaN,NaN,NaN,0,1
9988,11119,Single,30000,0,Partial College,Clerical,No,2,0-1 Miles,Pacific,71,No,NaN,NaN,NaN,NaN,NaN,0,1
9989,11118,Single,80000,0,Partial College,Skilled Manual,No,1,0-1 Miles,Pacific,49,No,NaN,NaN,NaN,NaN,NaN,0,1
9990,11116,Married,70000,4,Partial College,Skilled Manual,Yes,2,5-10 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN,0,1
9991,11115,Married,70000,4,Partial College,Skilled Manual,Yes,2,0-1 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN,0,1
9992,11114,Single,70000,4,Partial College,Skilled Manual,Yes,2,5-10 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN,1,0
9993,11113,Married,70000,4,Bachelors,Professional,Yes,2,5-10 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN,0,1
9994,11104,Married,70000,0,Bachelors,Professional,No,1,0-1 Miles,Pacific,42,Yes,NaN,NaN,NaN,NaN,NaN,0,1
9995,11103,Single,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,42,Yes,NaN,NaN,NaN,NaN,NaN,1,0
9996,11102,Single,80000,5,Bachelors,Professional,Yes,4,1-2 Miles,Pacific,41,No,NaN,NaN,NaN,NaN,NaN,1,0
9997,11098,Single,60000,0,Partial College,Skilled Manual,No,1,0-1 Miles,Pacific,45,No,NaN,NaN,NaN,NaN,NaN,1,0
9998,11094,Single,70000,0,Partial College,Skilled Manual,No,1,0-1 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN,0,1
9999,2,Single,160000,0,Graduate Degree,Management,Yes,2,0-1 Miles,Pacific,47,No,NaN,NaN,NaN,NaN,NaN,0,1

In [22]:
df4 = pd.get_dummies(df, columns=['Gender'], drop_first=True)
df4

,ID,Marital Status,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,BikeBuyer,Latitude,Longitude,City,Zip Code,Country,Gender_Male
0,29476,Married,20000,0,Partial College,Manual,No,1,0-1 Miles,Europe,47,Yes,31.42728,151.40989,Skegness,U8H 3NI,United Kingdom,0
1,29472,Married,10000,1,High School,Manual,No,1,1-2 Miles,Europe,46,No,-49.77700,-57.09436,Krefeld,38010,Germany,0
2,29471,Single,10000,1,High School,Manual,No,1,2-5 Miles,Europe,46,No,44.76375,-52.48566,Wandsworth,E9C 8WC,United Kingdom,0
3,29470,Single,10000,1,High School,Manual,No,1,1-2 Miles,Europe,46,No,-35.47176,108.25552,Marcq-en-Baroeul,85584,France,1
4,29451,Single,10000,0,Partial College,Manual,No,1,2-5 Miles,Europe,64,No,-13.38729,-143.39103,Wrexham,NX2 2JE,United Kingdom,1
5,29447,Single,10000,0,Bachelors,Clerical,No,1,2-5 Miles,Europe,68,No,-72.40890,-169.83648,Kincardine,X50 9XV,United Kingdom,0
6,29446,Single,20000,0,Graduate Degree,Clerical,No,0,0-1 Miles,Europe,69,No,61.73132,-24.53664,Bremerhaven,52767,Germany,0
7,29445,Single,10000,0,Bachelors,Clerical,Yes,1,0-1 Miles,Europe,69,No,-55.10667,-179.94035,Oswestry,T61 2QG,United Kingdom,0
8,29444,Married,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Europe,50,No,38.56492,-54.28292,Maubeuge,93074,France,0
9,29443,Single,10000,0,Partial College,Manual,Yes,0,0-1 Miles,Europe,50,No,34.04002,-13.24188,Niort,85990,France,1
10,29442,Single,10000,0,Bachelors,Manual,Yes,0,0-1 Miles,Europe,48,No,-59.62052,-77.10857,Burntisland,DM7 8SL,United Kingdom,1
11,29441,Married,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,70,No,83.23444,-0.22927,Bottrop,75782,Germany,0
12,29440,Single,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,45,No,32.46051,175.80060,St. David's,M80 9YC,United Kingdom,1
13,29439,Married,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,45,No,87.01058,116.62104,Rothesay,G04 6IZ,United Kingdom,0
14,29438,Married,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,45,No,-13.08665,65.61001,Lauder,GF75 6YC,United Kingdom,1
15,29437,Single,20000,0,Graduate Degree,Clerical,No,0,0-1 Miles,Europe,44,No,-62.99891,-170.17880,Ajaccio,53384,France,0
16,29436,Single,10000,0,Bachelors,Manual,No,0,0-1 Miles,Europe,45,No,7.11524,-0.24771,Markkleeberg,75542,Germany,0
17,29435,Married,10000,0,Bachelors,Manual,Yes,0,0-1 Miles,Europe,44,No,-64.26743,43.38219,Montpellier,94451,France,1
18,29434,Married,10000,0,Bachelors,Manual,Yes,0,0-1 Miles,Europe,44,No,-72.41211,26.91538,Merzig,44036,Germany,0
19,29430,Single,30000,0,Partial College,Clerical,No,1,0-1 Miles,Europe,31,No,-19.47140,80.10937,Berlin,66257,Germany,0
20,29429,Single,30000,0,Partial College,Clerical,No,1,0-1 Miles,Europe,31,No,-36.14319,144.98053,Husum,54514,Germany,0
21,29428,Married,20000,0,Partial High School,Manual,Yes,2,1-2 Miles,Europe,32,No,-29.63320,72.30464,Saint-Malo,72546,France,1
22,29427,Single,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,No,-0.98943,-118.78928,Cawdor,EB11 5SJ,United Kingdom,1
23,29426,Single,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,No,-22.91305,-152.01615,Kinross,Z7 7WL,United Kingdom,1
24,29425,Single,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,No,76.76836,68.52531,Stendal,28448,Germany,1
25,29424,Married,10000,0,Partial High School,Manual,Yes,2,0-1 Miles,Europe,32,No,43.03843,163.77749,Oberursel,81959,Germany,1
26,29423,Single,20000,0,High School,Manual,No,1,2-5 Miles,Europe,30,No,-24.70509,96.30617,Wolverhampton,LM83 5OR,United Kingdom,1
27,29422,Single,20000,0,High School,Manual,Yes,1,2-5 Miles,Europe,30,No,-89.98557,-162.02105,Holywell,T6Y 7UP,United Kingdom,1
28,29421,Single,20000,0,High School,Manual,No,1,2-5 Miles,Europe,30,No,-19.41759,-85.88991,Felixstowe,O93 1AN,United Kingdom,1
29,29420,Married,20000,0,High School,Manual,No,1,2-5 Miles,Europe,30,No,-57.90648,-163.13495,ƒpernay,89,France,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,11451,Single,70000,0,Bachelors,Professional,No,4,10+ Miles,Pacific,32,Yes,NaN,NaN,NaN,NaN,NaN,1
9971,11371,Married,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,28,No,NaN,NaN,NaN,NaN,NaN,0
9972,11370,Married,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,28,No,NaN,NaN,NaN,NaN,NaN,0
9973,11369,Married,20000,0,Bachelors,Clerical,No,0,0-1 Miles,Pacific,28,No,NaN,NaN,NaN,NaN,NaN,0
9974,11367,Married,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,27,No,NaN,NaN,NaN,NaN,NaN,1
9975,11366,Married,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,27,No,NaN,NaN,NaN,NaN,NaN,0
9976,11362,Married,10000,0,High School,Manual,No,2,0-1 Miles,Pacific,29,No,NaN,NaN,NaN,NaN,NaN,1
9977,11361,Married,10000,0,High School,Manual,Yes,2,0-1 Miles,Pacific,29,No,NaN,NaN,NaN,NaN,NaN,0
9978,11359,Single,10000,0,Partial College,Manual,No,1,0-1 Miles,Pacific,28,Yes,NaN,NaN,NaN,NaN,NaN,1
9979,11150,Single,40000,0,Bachelors,Management,Yes,2,5-10 Miles,Pacific,65,No,NaN,NaN,NaN,NaN,NaN,1
9980,11149,Married,40000,0,Bachelors,Management,Yes,2,0-1 Miles,Pacific,65,No,NaN,NaN,NaN,NaN,NaN,1
9981,11148,Married,40000,0,Bachelors,Management,Yes,2,5-10 Miles,Pacific,65,No,NaN,NaN,NaN,NaN,NaN,1
9982,11146,Single,40000,0,Bachelors,Management,Yes,2,5-10 Miles,Pacific,67,No,NaN,NaN,NaN,NaN,NaN,0
9983,11139,Single,30000,0,Partial College,Clerical,No,2,5-10 Miles,Pacific,68,No,NaN,NaN,NaN,NaN,NaN,0
9984,11125,Single,70000,0,Partial College,Skilled Manual,Yes,1,5-10 Miles,Pacific,50,No,NaN,NaN,NaN,NaN,NaN,0
9985,11123,Married,70000,4,Partial College,Skilled Manual,Yes,3,10+ Miles,Pacific,46,No,NaN,NaN,NaN,NaN,NaN,1
9986,11122,Married,70000,4,Partial College,Skilled Manual,Yes,3,5-10 Miles,Pacific,46,No,NaN,NaN,NaN,NaN,NaN,1
9987,11121,Married,70000,4,Partial College,Skilled Manual,Yes,3,10+ Miles,Pacific,45,No,NaN,NaN,NaN,NaN,NaN,1
9988,11119,Single,30000,0,Partial College,Clerical,No,2,0-1 Miles,Pacific,71,No,NaN,NaN,NaN,NaN,NaN,1
9989,11118,Single,80000,0,Partial College,Skilled Manual,No,1,0-1 Miles,Pacific,49,No,NaN,NaN,NaN,NaN,NaN,1
9990,11116,Married,70000,4,Partial College,Skilled Manual,Yes,2,5-10 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN,1
9991,11115,Married,70000,4,Partial College,Skilled Manual,Yes,2,0-1 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN,1
9992,11114,Single,70000,4,Partial College,Skilled Manual,Yes,2,5-10 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN,0
9993,11113,Married,70000,4,Bachelors,Professional,Yes,2,5-10 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN,1
9994,11104,Married,70000,0,Bachelors,Professional,No,1,0-1 Miles,Pacific,42,Yes,NaN,NaN,NaN,NaN,NaN,1
9995,11103,Single,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,42,Yes,NaN,NaN,NaN,NaN,NaN,0
9996,11102,Single,80000,5,Bachelors,Professional,Yes,4,1-2 Miles,Pacific,41,No,NaN,NaN,NaN,NaN,NaN,0
9997,11098,Single,60000,0,Partial College,Skilled Manual,No,1,0-1 Miles,Pacific,45,No,NaN,NaN,NaN,NaN,NaN,0
9998,11094,Single,70000,0,Partial College,Skilled Manual,No,1,0-1 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN,1
9999,2,Single,160000,0,Graduate Degree,Management,Yes,2,0-1 Miles,Pacific,47,No,NaN,NaN,NaN,NaN,NaN,1

In [14]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder?

In [23]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#le.fit_transform?
df['Gender'] = le.fit_transform(df['Gender'])
df

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,BikeBuyer,Latitude,Longitude,City,Zip Code,Country
0,29476,Married,0,20000,0,Partial College,Manual,No,1,0-1 Miles,Europe,47,Yes,31.42728,151.40989,Skegness,U8H 3NI,United Kingdom
1,29472,Married,0,10000,1,High School,Manual,No,1,1-2 Miles,Europe,46,No,-49.77700,-57.09436,Krefeld,38010,Germany
2,29471,Single,0,10000,1,High School,Manual,No,1,2-5 Miles,Europe,46,No,44.76375,-52.48566,Wandsworth,E9C 8WC,United Kingdom
3,29470,Single,1,10000,1,High School,Manual,No,1,1-2 Miles,Europe,46,No,-35.47176,108.25552,Marcq-en-Baroeul,85584,France
4,29451,Single,1,10000,0,Partial College,Manual,No,1,2-5 Miles,Europe,64,No,-13.38729,-143.39103,Wrexham,NX2 2JE,United Kingdom
5,29447,Single,0,10000,0,Bachelors,Clerical,No,1,2-5 Miles,Europe,68,No,-72.40890,-169.83648,Kincardine,X50 9XV,United Kingdom
6,29446,Single,0,20000,0,Graduate Degree,Clerical,No,0,0-1 Miles,Europe,69,No,61.73132,-24.53664,Bremerhaven,52767,Germany
7,29445,Single,0,10000,0,Bachelors,Clerical,Yes,1,0-1 Miles,Europe,69,No,-55.10667,-179.94035,Oswestry,T61 2QG,United Kingdom
8,29444,Married,0,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Europe,50,No,38.56492,-54.28292,Maubeuge,93074,France
9,29443,Single,1,10000,0,Partial College,Manual,Yes,0,0-1 Miles,Europe,50,No,34.04002,-13.24188,Niort,85990,France
10,29442,Single,1,10000,0,Bachelors,Manual,Yes,0,0-1 Miles,Europe,48,No,-59.62052,-77.10857,Burntisland,DM7 8SL,United Kingdom
11,29441,Married,0,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,70,No,83.23444,-0.22927,Bottrop,75782,Germany
12,29440,Single,1,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,45,No,32.46051,175.80060,St. David's,M80 9YC,United Kingdom
13,29439,Married,0,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,45,No,87.01058,116.62104,Rothesay,G04 6IZ,United Kingdom
14,29438,Married,1,20000,0,Graduate Degree,Clerical,Yes,0,0-1 Miles,Europe,45,No,-13.08665,65.61001,Lauder,GF75 6YC,United Kingdom
15,29437,Single,0,20000,0,Graduate Degree,Clerical,No,0,0-1 Miles,Europe,44,No,-62.99891,-170.17880,Ajaccio,53384,France
16,29436,Single,0,10000,0,Bachelors,Manual,No,0,0-1 Miles,Europe,45,No,7.11524,-0.24771,Markkleeberg,75542,Germany
17,29435,Married,1,10000,0,Bachelors,Manual,Yes,0,0-1 Miles,Europe,44,No,-64.26743,43.38219,Montpellier,94451,France
18,29434,Married,0,10000,0,Bachelors,Manual,Yes,0,0-1 Miles,Europe,44,No,-72.41211,26.91538,Merzig,44036,Germany
19,29430,Single,0,30000,0,Partial College,Clerical,No,1,0-1 Miles,Europe,31,No,-19.47140,80.10937,Berlin,66257,Germany
20,29429,Single,0,30000,0,Partial College,Clerical,No,1,0-1 Miles,Europe,31,No,-36.14319,144.98053,Husum,54514,Germany
21,29428,Married,1,20000,0,Partial High School,Manual,Yes,2,1-2 Miles,Europe,32,No,-29.63320,72.30464,Saint-Malo,72546,France
22,29427,Single,1,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,No,-0.98943,-118.78928,Cawdor,EB11 5SJ,United Kingdom
23,29426,Single,1,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,No,-22.91305,-152.01615,Kinross,Z7 7WL,United Kingdom
24,29425,Single,1,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,No,76.76836,68.52531,Stendal,28448,Germany
25,29424,Married,1,10000,0,Partial High School,Manual,Yes,2,0-1 Miles,Europe,32,No,43.03843,163.77749,Oberursel,81959,Germany
26,29423,Single,1,20000,0,High School,Manual,No,1,2-5 Miles,Europe,30,No,-24.70509,96.30617,Wolverhampton,LM83 5OR,United Kingdom
27,29422,Single,1,20000,0,High School,Manual,Yes,1,2-5 Miles,Europe,30,No,-89.98557,-162.02105,Holywell,T6Y 7UP,United Kingdom
28,29421,Single,1,20000,0,High School,Manual,No,1,2-5 Miles,Europe,30,No,-19.41759,-85.88991,Felixstowe,O93 1AN,United Kingdom
29,29420,Married,0,20000,0,High School,Manual,No,1,2-5 Miles,Europe,30,No,-57.90648,-163.13495,ƒpernay,89,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,11451,Single,1,70000,0,Bachelors,Professional,No,4,10+ Miles,Pacific,32,Yes,NaN,NaN,NaN,NaN,NaN
9971,11371,Married,0,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,28,No,NaN,NaN,NaN,NaN,NaN
9972,11370,Married,0,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,28,No,NaN,NaN,NaN,NaN,NaN
9973,11369,Married,0,20000,0,Bachelors,Clerical,No,0,0-1 Miles,Pacific,28,No,NaN,NaN,NaN,NaN,NaN
9974,11367,Married,1,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,27,No,NaN,NaN,NaN,NaN,NaN
9975,11366,Married,0,20000,0,Bachelors,Clerical,Yes,0,0-1 Miles,Pacific,27,No,NaN,NaN,NaN,NaN,NaN
9976,11362,Married,1,10000,0,High School,Manual,No,2,0-1 Miles,Pacific,29,No,NaN,NaN,NaN,NaN,NaN
9977,11361,Married,0,10000,0,High School,Manual,Yes,2,0-1 Miles,Pacific,29,No,NaN,NaN,NaN,NaN,NaN
9978,11359,Single,1,10000,0,Partial College,Manual,No,1,0-1 Miles,Pacific,28,Yes,NaN,NaN,NaN,NaN,NaN
9979,11150,Single,1,40000,0,Bachelors,Management,Yes,2,5-10 Miles,Pacific,65,No,NaN,NaN,NaN,NaN,NaN
9980,11149,Married,1,40000,0,Bachelors,Management,Yes,2,0-1 Miles,Pacific,65,No,NaN,NaN,NaN,NaN,NaN
9981,11148,Married,1,40000,0,Bachelors,Management,Yes,2,5-10 Miles,Pacific,65,No,NaN,NaN,NaN,NaN,NaN
9982,11146,Single,0,40000,0,Bachelors,Management,Yes,2,5-10 Miles,Pacific,67,No,NaN,NaN,NaN,NaN,NaN
9983,11139,Single,0,30000,0,Partial College,Clerical,No,2,5-10 Miles,Pacific,68,No,NaN,NaN,NaN,NaN,NaN
9984,11125,Single,0,70000,0,Partial College,Skilled Manual,Yes,1,5-10 Miles,Pacific,50,No,NaN,NaN,NaN,NaN,NaN
9985,11123,Married,1,70000,4,Partial College,Skilled Manual,Yes,3,10+ Miles,Pacific,46,No,NaN,NaN,NaN,NaN,NaN
9986,11122,Married,1,70000,4,Partial College,Skilled Manual,Yes,3,5-10 Miles,Pacific,46,No,NaN,NaN,NaN,NaN,NaN
9987,11121,Married,1,70000,4,Partial College,Skilled Manual,Yes,3,10+ Miles,Pacific,45,No,NaN,NaN,NaN,NaN,NaN
9988,11119,Single,1,30000,0,Partial College,Clerical,No,2,0-1 Miles,Pacific,71,No,NaN,NaN,NaN,NaN,NaN
9989,11118,Single,1,80000,0,Partial College,Skilled Manual,No,1,0-1 Miles,Pacific,49,No,NaN,NaN,NaN,NaN,NaN
9990,11116,Married,1,70000,4,Partial College,Skilled Manual,Yes,2,5-10 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN
9991,11115,Married,1,70000,4,Partial College,Skilled Manual,Yes,2,0-1 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN
9992,11114,Single,0,70000,4,Partial College,Skilled Manual,Yes,2,5-10 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN
9993,11113,Married,1,70000,4,Bachelors,Professional,Yes,2,5-10 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN
9994,11104,Married,1,70000,0,Bachelors,Professional,No,1,0-1 Miles,Pacific,42,Yes,NaN,NaN,NaN,NaN,NaN
9995,11103,Single,0,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,42,Yes,NaN,NaN,NaN,NaN,NaN
9996,11102,Single,0,80000,5,Bachelors,Professional,Yes,4,1-2 Miles,Pacific,41,No,NaN,NaN,NaN,NaN,NaN
9997,11098,Single,0,60000,0,Partial College,Skilled Manual,No,1,0-1 Miles,Pacific,45,No,NaN,NaN,NaN,NaN,NaN
9998,11094,Single,1,70000,0,Partial College,Skilled Manual,No,1,0-1 Miles,Pacific,44,No,NaN,NaN,NaN,NaN,NaN
9999,2,Single,1,160000,0,Graduate Degree,Management,Yes,2,0-1 Miles,Pacific,47,No,NaN,NaN,NaN,NaN,NaN